<div class="flex gap-6 flex-wrap">
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Total Projects</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @projects.size %></p>
    </div>
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Total Tasks</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @tasks.size %></p>
    </div>
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Urgent Tasks</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @tasks.urgent.size %></p>
    </div>
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Completed Tasks</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @tasks.completed.size %></p>
    </div>
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Expired Tasks</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @tasks.expired.size %></p>
    </div>
    <div class="p-4 rounded-lg bg-gray-600 h-24 min-w-24 text-center">
        <p class="capitalize mb-3 border-gray-800 rounded-md">Pending Projects</p>
        <p class="font-bold bg-gray-800 rounded-md"><%= @tasks.pending.size %></p>
    </div>
</div>